# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Server
.ftpaccess
.htaccess
.htdigest
php.ini

# Data
data/users.json
db/*.sql.gz
!db/schema.sql
!db/seed.sql

# OS
.DS_Store
Thumbs.db

# Hidden/backup files
*.hide
